---
import logoLight from '../images/logo-light.svg';
---

<footer class="footer">
    <nav class="footer__nav">
        <div class="footer__logo">
            <img src={logoLight} alt="logo" class="footer__logo-img"/>
        </div>
        <ul class="header__menu">
            <li class="header__menu-item">
                <a class="btn btn-tertiary" href="/" target="_blank">
                    Get started
                </a>
            </li>
        </ul>
    </nav>
</footer>